certifi==2018.8.24
chardet==3.0.4
dj-database-url==0.5.0
Django==2.0.8
django-autocomplete-light==3.3.1
future==0.16.0
gunicorn==19.9.0
idna==2.6
jdcal==1.4
openpyxl==2.1.4
Pillow==5.2.0
pytz==2018.5
reportlab==3.5.6
requests==2.18.4
sodapy==1.4.6
urllib3==1.22
whitenoise==4.1
psycopg2==2.7.4
