boto3==1.9.14
botocore==1.12.14
cachetools==2.1.0
certifi==2018.8.24
chardet==3.0.4
dj-database-url==0.5.0
Django==2.2.13
django-autocomplete-light==3.3.1
django-storages==1.7.1
docutils==0.14
dropbox==9.0.0
future==0.16.0
google-api-core==1.4.1
google-auth==1.5.1
google-cloud-core==0.28.1
google-cloud-storage==1.12.0
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
gunicorn==19.9.0
idna==2.6
jdcal==1.4
jmespath==0.9.3
openpyxl==2.1.4
Pillow==5.2.0
postgres==2.2.2
protobuf==3.6.1
psycopg2==2.7.5
psycopg2-binary==2.7.5
pyasn1==0.4.4
pyasn1-modules==0.2.2
python-dateutil==2.7.3
pytz==2018.5
reportlab==3.5.6
requests==2.18.4
rsa==4.0
s3transfer==0.1.13
six==1.11.0
sodapy==1.4.6
urllib3==1.22
whitenoise==4.1
