{% load static %}
{% load absolute format_capitalize format_percent format_thousands my_filters subtract to_datetime to_range_loss to_range multiply count_visitas string_truncate format_mayus format_month po_total %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>GEEO/CATEDRA</title>


	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700" rel="stylesheet">

	<!-- Template Styles -->
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!-- CSS Reset -->
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">

	<!-- Milligram CSS minified -->
	<link rel="stylesheet" href="{% static 'css/milligram.min.css' %}">

	<!-- Main Styles -->

	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<!--
	<link rel="stylesheet" href="/static/css/styles.css">
	-->
	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'js/DataTables/datatables.min.css' %}"/>

	<script type="text/javascript" src="{% static 'js/DataTables/datatables.min.js' %}"></script>




	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
<style type="text/css">
	@media (max-width: 1565px) {
		.ofrecimiento-materia {display: none;}
	  .ofrecimiento-estrategia {display: none;}
	  .ofrecimiento-titulo {display: none;}
	  .ofrecimiento-horas {display: none;}
	}
</style>

</head>

<body>
	<div class="navbar">
		<div class="row">
			<div class="column column-30 col-site-title"><a href="#" class="site-title float-left"><span class="fa fa-globe" style="font-size: 40px;"></span> GEEO</a></div>
			<!--
			<div class="column column-40 col-search"><a href="#" class="search-btn fa fa-search"></a>
				<input type="text" name="" value="" placeholder="Buscar..." />
			</div>
			-->
			<div class="column column-30">
				<div class="user-section"><a href="{% url 'logout' %}?next={{request.path}}">
					{% if user.is_authenticated %}
					<img src="http://via.placeholder.com/50x50" alt="profile photo" class="circle float-left profile-photo" width="50" height="auto">
					<div class="username">
						<h4>{{user.get_username}}</h4>
						<p>Log out</p>
					</div>
					{% else %}
					<div class="username">
						<a href="{% url 'login' %}?next={{request.path}}" class="top-menu"><span class="fa fa-lock"></span></a>
					</div>
					{% endif %}

				</a></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div id="sidebar" class="column" style="max-width: 20%;">
			<h5>Menú Principal</h5>
			<ul>
				<li><a href="{% url 'inicio' %}"><em class="fa fa-home"></em> Inicio</a></li>
				{% if user.is_authenticated %}




					{% if user.empleado.rol != 'Vendedor' %}
					<li><a href="{% url 'lista_escuelas' %}"><em class="fa fa-building"></em> Escuelas</a></li>
					<li><a href="{% url 'lista_vendedores' %}"><em class="fa fa-users"></em> Vendedores</a></li>
					{% endif %}
					<li><a href="{% url 'historial_visitas' %}"><em class="fa fa-briefcase"></em> Visitas</a></li>
					<li><a href="{% url 'historial_propuestas' pk=user.empleado.pk %}"><em class="fa fa-balance-scale"></em> Propuestas</a></li>
					<li><a href="{% url 'lista_ofrecimientos' %}"><em class="fa fa-tasks"></em> Ofrecimientos</a></li>
					<li><a href="{% url 'lista_po' %}"><em class="fa fa-file-invoice-dollar"></em> Lista de PO's</a></li>
				{% else %}
				{% endif %}
			</ul>
		</div>
		<section id="main-content" class="column column-offset-20">
    		{% block content%}
    		{% endblock %}
		</section>
	</div>
<script>
$(document).ready( function () {
	$('table.display').DataTable( {
			initComplete: function () {
					this.api().columns().every( function () {
							var column = this;
							var select = $('<select><option value=""></option></select>')
									.appendTo( $(column.footer()).empty() )
									.on( 'change', function () {
											var val = $.fn.dataTable.util.escapeRegex(
													$(this).val()
											);

											column
													.search( val ? '^'+val+'$' : '', true, false )
													.draw();
									} );

							column.data().unique().sort().each( function ( d, j ) {
									select.append( '<option value="'+d+'">'+d+'</option>' )
							} );
					} );
			}
	} );
	$('.contenido').fadeIn('slow');
	$(window).trigger('resize');
} );
</script>
</body>
</html>
