{% extends 'CATEDRA/base.html' %}

{% block content %}

<div class="row grid-responsive">
  <div class="column ">
    <div class="card">
      <div class="card-title clearfix">
        <h3 class="float-left">Perfiles de Escuelas Registradas</h3>
        {% if user.is_authenticated %}
        <a class="button float-right" href="{% url 'crear_escuela' %}">Nueva Escuela</a>
        {% endif %}
      </div>
      <div class="card-block">
        <table>
          <thead>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Nivel</th>
            <th>Region</th>
            <th>Fecha de Creacion</th>
            <th>Acciones</th>
          </thead>
          <tbody>
            {% for escuela in escuelas %}
              <tr>
                <td>{{escuela.codigo}}</a></td>
                <td>{{escuela.nombre}}</td>
                <td>{{escuela.nivel}}</td>
                <td>{{escuela.region_educativa}}</td>
                <td>{{escuela.fecha_creacion}}</td>
                <td><a class="button button-outline" href="{% url 'perfil_escuela' codigo=escuela.codigo %}">Ver</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% if escuelas.has_other_pages %}
    <nav>
      <ul class="pagination">
        {% if escuelas.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ escuelas.previous_page_number }}">&laquo;</a>
          </li>
        {% else %}
          <li class="disabled page-item">
            <span>&laquo;</span>
          </li>
        {% endif %}
        {% for i in escuelas.paginator.page_range %}
          {% if escuelas.number == i %}
            <li class="active page-item">
              <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if escuelas.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ escuelas.next_page_number }}">&raquo;</a>
          </li>
        {% else %}
          <li class="disabled page-item">
            <span>&raquo;</span>
          </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
  </div>
</div>
{% endblock %}
