{% extends 'CATEDRA/base.html' %}

{% block content %}
<div class="contenido" style="display: none;">
  <div class="row grid-responsive">
    <div class="column ">
      <div class="card">
        <div class="card-title clearfix">
          <h3 class="float-left">Perfiles de Escuelas Registradas ({{total_escuelas|format_thousands}})</h3>
          {% if user.is_authenticated %}
          <a class="button float-right" href="{% url 'crear_escuela' %}">Nueva Escuela</a>
          {% endif %}
        </div>
        <div class="card-block">
          <table id="" class="display">
            <thead>
              <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Nivel</th>
                <th>Region</th>
                <th>Municipio</th>
              </tr>
            </thead>
            <tbody>
              {% for escuela in escuelas %}
                <tr>
                  <td><a href="{% url 'perfil_escuela' codigo=escuela.codigo %}">{{ escuela.codigo }}</a></td>
                  <td>{{escuela.nombre|string_truncate}}</td>
                  <td>{{escuela.nivel|format_mayus}}</td>
                  <td>{{escuela.region_educativa}}</td>
                  <td>{{escuela.municipio_escolar}}</td>
                </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Nivel</th>
                <th>Region</th>
                <th>Municipio</th>
              </tr>
          </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
